.home-front-page{
    background-image: url(../assets/images/close-up-people-holding-jar.jpg);
    
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.bottom{
    padding-top: 30px;
    text-align: center;
    background: linear-gradient(rgb(192, 231, 192),#66c372);

}
.bottom .tag-line{
    font-size: 30px;
    color: #312e2e;
}
.bottom h2{
    padding-top: 5px;
    font-size: 24px;
    font-weight: 600;
    color: #312e2e;
}
.bottom .button{
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 22px;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(101, 187, 143);
    border: 0px;
}
.WelcomeTag{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
    align-items: center;
    height: 70vh;
    
}

.WelcomeTag h1{
    color: whitesmoke;
    font-size: 100px;
    text-shadow: 4px 2px #898989;
}